doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")

    block header

    link(rel="icon", type="image/png", href="imgs/favicon.png")

    // 
      Copyright 2014 by Justin LeBlanc
      Any unauthorized use is strictly prohibited.  I swear if any of you 
      assholes steal this, I will dispatch a small army of lawyers to come 
      down upon you like the wrath of God.  Think I'm bluffing?  Just try it!
    title= title 

    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/bootstrap-theme.min.css", rel="stylesheet")

    link(href="css/quiz.css", rel="stylesheet")

    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"


  body(role="document")
    block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="js/bootstrap.min.js")
