
.quiz-container{
	max-width:1000px;
	min-height:657px;
	max-width:1000px;
	width:100%;
	overflow:hidden;
}

.quiz-title {
	margin-left: 150px;
    color: LightGray;
    display: block;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.quiz-intro {
	margin-left: 150px;
	width: 400px;
}

.quiz-intro h3, p {
 	background: rgb(255, 255, 255); 
 	background: rgba(255, 255, 255, .5); 
	display: block;
	padding: 0 20px;
}

.image-question {
	max-width: 240px;
	max-height: 160px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px;
}

.image-question img {
	max-width: 240px;
}

a {
	color: black;
}
	
